<!DOCTYPE html>
<html>
  <head>
    <title>ToDo Tree</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/angular-ui-tree.min.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <script src="js/angular.js"></script>
    <script src="js/angular-ui-tree.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/todo-tree.js"></script>
  </head>

  <body ng-app="todoApp">
    <div class="container" ng-controller="todoCtrl">

      <!-- template -->
      <script type="text/ng-template" id="items_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content">
	  <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
	    <span class="glyphicon" 
                  ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}">
	    </span>
	  </a>
	  {{node.title}}
	  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
	    <span class="glyphicon glyphicon-remove"></span>
	  </a>
	  <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)">
	    <span class="glyphicon glyphicon-plus"></span>
	  </a>
	</div>
	<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
	  <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'items_renderer.html'"></li>
	</ol>
      </script>

      <h1 class="page-header">ToDo Tree</h1>

      <div ui-tree class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<ol ui-tree-nodes ng-model="data">
	  <li ng-repeat="node in data" ui-tree-node ng-include="'items_renderer.html'"></li>
	</ol>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
	<pre class="code">
	  {{data | json}}
	</pre>
    </div>
  </body>
</html>
